node_modules/

.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
.pnp.*
.yarn/install-state.gz

dist/
backend/dist/
frontend/dist/
dev-dist/

.env
.env.local

*.log
npm-debug.log*

.DS_Store
.vscode/
.idea/
